body {

	background-color: #fff;
	max-width: 320px;
	max-width: 768px;
}

h1, h2, h3, h4 {

	font-weight: 700;
}

.site-header {

	padding-top: 20px;
	padding-bottom: 20px;
}

.site-header > .row {

	padding-left: 30px;
	padding-right: 30px;
}

.site-title {

	display: inline-block;
	margin: 0;
}

.site-title > a[rel="home"] {

	background: url('../public/img/MDPromise.svg') no-repeat 0 0 transparent;
	background-size: contain;
	display: block;
	text-indent: -9999px;
	height: 63px;
	/*max-width: 255px;*/
	width: 200px;
}

.container {

	padding-left: 0;
	padding-right: 0;
}